extends ../../layout/app.pug

block title
    | فعالیت

block content
    .container
        tasks(list-url=route('api.task', { page: '$page$', size: '$pageSize$' }),
            parents-url=route('api.task', { page: 1, size: 1000 }),
            register-url=route('task.store'),
            edit-url=route('task.update', { id :'$id$'}),
            users-url=route('api.user', { page: 1, size: 1000 })
        )

block scripts
    script(defer, src=mix('js/pages/task/index/index.js'))


