extends ../../layout/app.pug

block title
    | کاربران

block content
    .container
        users(list-url=route('api.user', { page: 1, size: 10 }),
            roles-url=route('api.role', { page: 1, size: 1000 }),
            register-url=route('user.create'),
            edit-url=route('user.update', { id :'$id$'})
        )

block scripts
    script(defer, src=mix('js/pages/user/index/index.js'))


