extends ../../layout/app.pug

block title
    | طلب همکاری

block content
    .container
        requests(
            list-url=route('api.request', { page: '$page$', size: '$pageSize$' ,group:req.params.department})
            register-url=route('request.store')
            edit-url=route('request.update', { id :'$id$'})
            department-id=req.params.department
        )

block scripts
    script(defer, src=mix('js/pages/request/index/index.js'))


