extends ../../layout/app.pug

block title
    | گروه

block content
    .container
        departments(
            list-url=route('api.department', { page: '$page$', size: '$pageSize$' }),
            department-categories-url=route('api.departmentcategory', { page: 1, size: 1000 }),
            document-list-url=route('api.document', { page: '$page$', size: '$pageSize$', group: departmentId }),
            register-url=route('department.store'),
            edit-url=route('department.update', { id :'$id$'}),
            load-url=route("api.department.show", { department: '$department$'}),
            departments-url=route('departmentcategories.department', { department_category: '$department_category$'})
        )

block scripts
    script(defer, src=mix('js/pages/department/index/index.js'))


