extends ../../layout/app.pug

block title
    | title

block content
    show-department(ref="departmentShow",
                show-load-url=route("api.department.show", { department: '$department$'}),
                invite-session-url=route("invitesession.index", { department: departmentId}),
                memorandum-url=route("memorandum.index", { department: departmentId}),
                department-id=departmentId)

block scripts
    script(defer src=mix("js/pages/department/show/index.js"))
