extends ../../layout/app.pug

block title
    | همت

block content
    show-department(ref="departmentShow",
        show-load-url=route("api.department.show", { department: '$department$'}),
        show-load-access-link-url=route("api.department.link.access", { departmentId: '$department$'}),
        document-list-url=route('api.document', { page: '$page$', size: '$pageSize$', group: departmentId }),
        report-list-url=route('api.report', { page: '$page$', size: '$pageSize$', group: departmentId }),
        invite-session-url=route("invitesession.index", { department: departmentId}),
        memorandum-url=route("memorandum.index", { department: departmentId}),
        get-image-url=route('api.getimage', { image :'$IMAGE$'}),
        load-user-url=route('api.department.user', { group: departmentId}),
        program-group-date-url=route("program.group.date", { group: departmentId}),
        show-pragram-year-url=route("program.index", { department: departmentId, year:"$year$"}),
        department-id=departmentId
    )

block scripts
    script(defer src=mix("js/pages/department/show/index.js"))
