extends ../../layout/app.pug

block title
    | آئین نامه

block content
    .container
        regulations(
            list-url=route('api.regulation', { page: '$page$', size: '$pageSize$', group: departmentId }),
            register-url=route('regulation.store', { department: departmentId }),
            edit-url=route('regulation.update', { id :'$id$'}),
            department-id=departmentId,
        )

block scripts
    script(defer, src=mix('js/pages/regulation/index/index.js'))


