extends ../../layout/app.pug

block title
    | آیین نامه

block content
    .container
        regulations(list-url=route('api.regulation', { page: '$page$', size: '$pageSize$', group: departmentId }),
            departments-url=route('api.department', { page: 1, size: 1000 }),
            register-url=route('regulation.store', { department: departmentId }),
            edit-url=route('regulation.update', { id :'$id$'}),
            users-url=route('api.user', { page: 1, size: 1000 }),
            department-id=departmentId
        )

block scripts
    script(defer, src=mix('js/pages/regulation/index/index.js'))


