extends ../../layout/app.pug

block title
    if departmentId == "5ed466b696259b1a49c7a49b"
        | شیوه نامه
    else
        | آئین نامه

block content
    .container
        regulations(
            list-url=route('api.department.regulation', { page: '$page$', size: '$pageSize$', group: departmentId }),
            register-url=route('department.regulation.store', { department: departmentId }),
            edit-url=route('department.regulation.update', { id :'$id$'}),
            department-id=departmentId,
        )

block scripts
    script(defer, src=mix('js/pages/regulation/index/index.js'))


