extends ../../layout/app.pug

block title
    | پروژه

block content
    .container
        p= department
        p= type
        projects(list-url=route('api.project', { group: department, type: type, page: '$page$', size: '$pageSize$' }),
            departments-url=route('api.department', { page: 1, size: 1000 }),
            register-url=route('project.store', { department: departmentId }),
            edit-url=route('project.update', { id :'$id$'})
            users-url=route('api.user', { page: 1, size: 1000 }),
            programs-url=route('api.program', { page: 1, size: 1000 }),
            department-id=departmentId,
        )

block scripts
    script(defer, src=mix('js/pages/project/index/index.js'))


