extends ../../layout/app.pug

block title
    | پروژه

block content
    .container
        projects(list-url=route('api.project', { group: departmentId, type: type, page: '$page$', size: '$pageSize$' }),
            edit-url=route('project.update', { id :'$id$'})
            programs-url=route('api.program', {group: departmentId, page: 1, size: 1000 }),
            department-id=departmentId,
        )

block scripts
    script(defer, src=mix('js/pages/project/index/index.js'))


