nav.navbar.navbar-expand-md
    .container
        input#responsive-menu(type='checkbox')
        label(for='responsive-menu')
            span#menu-icon
        #overlay.is-flex
            .menu-background
                img(src=asset('images/cooperative.jpg'))
            .menu-links
                a(href='/') خانه
                if (null == req.session.auth)
                    a(href="/auth/login") ورود
                else
                    a(href='/') داشبورد
                    a(href='/auth/logout') خروج
            .menu-links
                a(href='/internal-section') همکاری درون بخشی
                a(href='/people-participation') مشارکت مردم
                a(href='/external-section') همکاری بین بخشی
                a(href='/monitoring-page') دیدبانی سلامت استان
                a(href='/event-list') رویدادها
                a(href='/document-list') مرکز اسناد راهبردی
        .nav-user-container.is-flex.dropdown.drp#dropdown-toggler
            .nav-user-container-icon.columns.is-centered
                img(src=asset('images/user.svg'))
            .navbarSupportedContent.collapse.navbar-collapse
                // Left Side Of Navbar
                ul.navbar-nav.mr-2
                // Right Side Of Navbar
                ul.navbar-nav.mr-2
                    // Authentication Links
                    if (null == req.session.auth)
                        li.nav-item
                            a.nav-link(href="/auth/login") ورود
                    else
                        button.button.drp(aria-haspopup='true',
                                aria-controls='dropdown-menu',
                                onclick='window.dropdownToggle()')
                            span.drp= req.session.auth.profile.first_name + " " + req.session.auth.profile.last_name
                            span.drp.icon.is-small
                                i.drp.fa.fa-chevron-down(aria-hidden='true')
                        #dropdown-menu.dropdown-menu(role='menu')
                            .dropdown-content
                                a.dropdown-item(href='/dashboard') پیشخوان
                                a.dropdown-item(href='/auth/logout') خروج
        a.navbar-brand(href="/")
            img(src=asset('images/logo.png'))
