extends ../../layout/app.pug

block title
    | اقدامات خلاق

block content
    .container
        actionCreatives(
            list-url=route('api.actionCreative', { page: '$page$', size: '$pageSize$', group: departmentId }),
            register-url=route('actionCreative.store', { department: departmentId }),
            edit-url=route('actionCreative.update', { id :'$id$'}),
            department-id=departmentId,
        )

block scripts
    script(defer, src=mix('js/pages/action-creative/index/index.js'))


