extends ../../layout/app.pug

block title
    | شاخص

block content
    .container
        karnameindexs(
            list-url=route('api.all.karnameindex', { page: '$page$', size: '$pageSize$' }),
            list-url-department=route('api.department.refrencess.null', { page: 1, size: 1000 }),
            register-url=route('karnameindex.store'),
            edit-url=route('karnameindex.update', { id :'$id$'}),
        )

block scripts
    script(defer, src=mix('js/pages/karnameindex/index/index.js'))


