extends ../../layout/app.pug

block title
    | دیدبانی سلامت

block content
    .container
        monitorings(
            list-url-parent=route('api.monitoring', { page: '$page$', size: '$pageSize$' }),
            list-url=route('api.all.monitoring', { page: '$page$', size: '$pageSize$' }),
            register-url=route('monitoring.store'),
            edit-url=route('monitoring.update', { id :'$id$'}),
            indexs-url=route('api.all.index', { page: 1, size: 1000 }),
        )

block scripts
    script(defer, src=mix('js/pages/monitoring/index/index.js'))


