extends ../../layout/app.pug

block title
    | پیوست سلامت

block content
    .container
        healths(
            list-url=route('api.health', { page: '$page$', size: '$pageSize$', group: departmentId }),
            register-url=route('health.store', { department: departmentId }),
            edit-url=route('health.update', { id :'$id$'}),
            department-id=departmentId,
        )

block scripts
    script(defer, src=mix('js/pages/health/index/index.js'))


