extends ../../layout/app.pug

block title
    | کارنامه عملکرد

block content
    .container
        action-scores(
            list-url=route('api.all.actionscore', { page: '$page$', size: '$pageSize$' }),
            departments-url=route('api.department', { page: 1, size: 1000 }),
            register-url=route('actionscore.store'),
            edit-url=route('actionscore.update', { id :'$id$'}),
            load-url=route("api.actionscore.show", { department: '$department$'}),
        )

block scripts
    script(defer, src=mix('js/pages/action-score/index/index.js'))


