extends ../../layout/app.pug

block title
    | Welcome to Task:Tracker

block styles
    link(rel="stylesheet", href=mix("css/global/app.css"))

block content
<<<<<<< HEAD
    .front-page-top
        .front-page-img
            img(src=asset('images/teamwork.jpg'))
        .front-page-bg
            img(src=asset('images/frontpage-bg.png'))
        .sitename
            h1 همکاری بین بخشی و مشارکت مردم در سلامت استان
            h2 سامانه همت
    .front-page-link-box.container.columns.is-mobile.is-multiline
        .column.py-3.has-text-centered.is-one-third
            .blue-luzy.icon-container
                a(href='/external-section')
                    img(src=asset('images/icons/handshake.svg'))
            .icon-container-text.py-2
                a(href='/external-section') همکاری برون بخشی
        .column.py-3.has-text-centered.is-one-third
            .orange-luzy.icon-container
                a(href='/people-participation')
                    img(src=asset('images/icons/three-users.svg'))
            .icon-container-text.py-2
                a(href='/people-participation') مشارکت مردم
        .column.py-3.has-text-centered.is-one-third
            .blueg-luzy.icon-container
                a(href='/internal-section')
                    img(src=asset('images/icons/refresh-button.svg'))
            .icon-container-text.py-2
                a(href='/internal-section') هماهنگی درون بخشی
    .front-page-link-box-small
        .column.py-3.has-text-centered.is-one-third
            .green-luzy.icon-container
                a(href='/monitoring-page')
                    img(src=asset('images/icons/add-heart.svg'))
            .icon-container-text.py-2
                a(href='/monitoring-page') دیده بانی سلامت استان
        .column.py-3.has-text-centered.is-one-third
            .oranger-luzy.icon-container
                a(href='/event-list')
                    img(src=asset('images/icons/calendar.svg'))
            .icon-container-text.py-2
                a(href='/event-list') رویدادها
        .column.py-3.has-text-centered.is-one-third
            .purple-luzy.icon-container
                a(href='/document-list')
                    img(src=asset('images/icons/asnadrahbordi.svg'))
            .icon-container-text.py-2
                a(href='/document-list') مرکز اسناد راهبردی

block scripts
=======
    .container.has-text-centered
        .columns.is-vcentered
            .column.is-5
                figure.image.is-4by3
                    img(class="is-rounded", src=asset("images/pages/home/img1.jpg"), alt='Home Image')
            .column.is-6.is-offset-1
                h1.title.is-2
                    | Task Tracker
                h2.subtitle.is-4
                    | An Intelligent Tracker
block footer
    ul
        li
            a Copyright&copy; Ojvar, 2018-2020
>>>>>>> c15a537484aa68bb7a26755bc606efa54d0943be
