extends ../../layout/app.pug

block title
    | Welcome to Task:Tracker

block styles
    link(rel="stylesheet", href=mix("css/global/app.css"))

block content
    .front-page-top
        .front-page-img
            img(src=asset('images/teamwork.jpg'))
        .front-page-bg
            img(src=asset('images/frontpage-bg.png'))
        .sitename
            h1 همکاری بین بخشی و مشارکت مردم در سلامت استان
            h2 سامانه همت
    .front-page-link-box.container.columns.is-mobile.is-multiline
        .column.py-3.has-text-centered.is-one-third
            .blue-luzy.icon-container
                a(href='/')
                    img(src=asset('images/icons/handshake.svg'))
            .icon-container-text.py-2
                a(href='/') همکاری بین بخشی
        .column.py-3.has-text-centered.is-one-third
            .orange-luzy.icon-container
                a(href='/')
                    img(src=asset('images/icons/three-users.svg'))
            .icon-container-text.py-2
                a(href='/') مشارکت مردم
        .column.py-3.has-text-centered.is-one-third
            .blueg-luzy.icon-container
                a(href='/internal-section')
                    img(src=asset('images/icons/refresh-button.svg'))
            .icon-container-text.py-2
                a(href='/internal-section') هماهنگی درون بخشی
    .front-page-link-box-small
        .column.py-3.has-text-centered.is-one-third
            .green-luzy.icon-container
                a(href='/')
                    img(src=asset('images/icons/add-heart.svg'))
            .icon-container-text.py-2
                a(href='/') دیده بانی سلامت استان
        .column.py-3.has-text-centered.is-one-third
            .oranger-luzy.icon-container
                a(href='/')
                    img(src=asset('images/icons/calendar.svg'))
            .icon-container-text.py-2
                a(href='/') رویدادها
        .column.py-3.has-text-centered.is-one-third
            .purple-luzy.icon-container
                a(href='/')
                    img(src=asset('images/icons/asnadrahbordi.svg'))
            .icon-container-text.py-2
                a(href='/') مرکز اسناد راهبردی

block scripts
